################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DynamicTrafficManager/.vs/DynamicTrafficManager/v16
/DynamicTrafficManager/Broker/bin/Debug/netcoreapp3.1
/DynamicTrafficManager/Broker/obj
/DynamicTrafficManager/TrafficLightUnitClient/bin/Debug/netcoreapp3.1
/DynamicTrafficManager/TrafficLightUnitClient/obj
/DynamicTrafficManager/SchedulingEngine/bin/Debug/netcoreapp3.1
/DynamicTrafficManager/SchedulingEngine/obj
/DynamicTrafficManager/.vs/DynamicTrafficManager/DesignTimeBuild
/DynamicTrafficManager/TrafficLightUnitClient/bin/Release/netcoreapp3.1
/DynamicTrafficManager/TrafficLightUnitClient/Properties/PublishProfiles
*.user
/DynamicTrafficManager/.vs/DynamicTrafficManager
/DynamicTrafficManager/ManagementAPI/bin/Debug/net6.0
/DynamicTrafficManager/ManagementAPI/obj
/DynamicTrafficManager/.vs/ProjectEvaluation
